*{
    background-color: rgb(242, 222, 186);
}

/* Style the header with a grey background and some padding */
.header {
    overflow: hidden;
    background-color: rgb(255, 239, 214);
    padding: 20px 10px;
}

/* Style the header links */
.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.name {
    font-size: 25px;
    font-weight: bold;
}

/* Change the background color on mouse-over */
.header a:hover {
    background-color: rgb(58, 136, 145);
    color: white;
}

/* Style the active/current link*/
.header a.active {
    background-color: rgb(14, 94, 111);
    color: white;
}

/* Float the link section to the right */
.header-right {
    float: right;
}

.content {
    font-size: large;
}